// MAX-WIDTH
$width-max: 1400px;

@include respond(phone) {
  $width-max: 38rem;
}

// COLORS
$color-primary: #333;
$color-secondary: #999;
$color-tertiary: #ddd;
$color-footer: #ccc;

$color-white: #fff;
$color-black: #000;

$color-amber: #fcb900;

// FONT
$font-family-default: "Urbanist", sans-serif;

$font-size-x-small: 12px;
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-upper-medium: 24px;
$font-size-large: 32px;
$font-size-x-large: 40px;
$font-size-max-48: clamp(24px, 4vw, 48px);
$font-size-max-60: clamp(30px, 5vw, 60px);
$font-size-max-130: 130px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// TYPOGRAPHY
$line-height-tiny: 1.15;
$line-height-small: 1.2;
$line-height-medium: 1.6;
$line-height-normal: 1.8;

// MARGIN
$margin-2x-small: 0.5rem;
$margin-x-small: 1rem;
$margin-small: 2.4rem;
$margin-medium: 5rem;
$margin-large: 10rem;
$margin-x-large: 12rem;

// GAP
$gap-small: 0.5rem;
