*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: $width-1400;
  margin: 0 auto;
  padding: 0 50px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
