body {
  font-family: $font-family-default;
  font-weight: $font-weight-regular;
  color: $color-black;
}

.header-white {
  .header-logo-text {
    color: $color-white;
  }

  .header-btn-menu-top,
  .header-btn-menu-bottom {
    border: 1px solid $color-white;
  }

  .header-btns a,
  .header-btns button {
    color: $color-white;
  }

  .header-btn-cart {
    .header-cart-number {
      border: 1px solid $color-white;
    }
  }
}
