.u-center-text {
  text-align: center;
}

.u-margin-right-20 {
  margin-right: 20px;
}

.u-margin-right-10 {
  margin-right: 10px;
}

.u-section-separator {
  border-top: 1px solid $color-black;
  width: 100%;
  height: 20px;
  margin-bottom: $margin-small;
}
