.u-center-text {
  text-align: center;
}

.u-margin-right-20 {
  margin-right: 20px;
}

.u-margin-right-10 {
  margin-right: 10px;
}

.u-section-separator {
  border-top: 1px solid $color-black;
  width: 100%;
  margin-bottom: $margin-small;
}

.u-separator {
  width: 100%;
  border-top: solid 1px $color-tertiary;
}

.u-gray {
  color: $color-secondary;
}
