.u-section-separator {
  border-top: 1px solid $color-black;
  width: 1rem;
  margin: 0 auto;
  margin-bottom: $margin-small;
}

.u-separator {
  width: 100%;
  border-top: solid 1px $color-tertiary;
}

.u-gray {
  color: $color-secondary;
}

.u-display {
  display: none;
}
