.login-and-register-form-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: $margin-large auto;

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
  }

  .login-form,
  .register-form {
    @include respond(tablet) {
      width: 100%;
      height: auto;

      &:not(:last-of-type) {
        margin-bottom: $margin-medium;
      }
    }

    & form {
      width: 100%;
      height: 44.5rem;
      padding: 2rem;
      border: 1px solid $color-tertiary;

      @include respond(tablet) {
        height: auto;
      }
    }

    &-title {
      font-size: $font-size-large;
      font-weight: $font-weight-semi-bold;
      line-height: $line-height-tiny;
      margin-bottom: 34px;
    }

    &-input {
      margin-top: 16px;

      label {
        display: block;
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        line-height: 0.5;
        margin-bottom: $margin-small;
      }

      input {
        width: 100%;
        font-family: $font-family-default;
        padding: 12px 10px;
        border: 1px solid $color-tertiary;
        margin-top: 3px;
        margin-bottom: 17px;

        &:focus {
          outline: none;
        }
      }
    }

    .register-form-description {
      &-paragraph {
        font-size: $font-size-medium;
        line-height: $line-height-normal;
        margin: 17px 0;

        &-policy {
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        &:first-child {
          margin-top: 1px;
        }
      }
    }

    .login-form-btn-and-checkbox {
      display: flex;
      flex-direction: row;

      @include respond(phone) {
        display: flex;
        flex-direction: column;
      }

      .login-form-input-remember-me {
        margin-top: $margin-x-small;

        @include respond(phone) {
          order: -1;
          margin-bottom: $margin-x-small;
        }

        & input {
          margin: 0;
          width: auto;
          margin-right: $margin-2x-small;
        }

        & label {
          display: inline;
          width: auto;
        }
      }
    }

    .login-form-lost-password {
      font-family: inherit;
      font-size: $font-size-medium;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
