.product-detail {
  display: grid;
  grid-template-columns: 60% 30%;
  column-gap: 4rem;
  margin-bottom: $margin-large;

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
  }

  &-imgs-block {
    display: flex;
    gap: $gap-small;

    @include respond(tablet) {
      margin-bottom: $margin-large;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }

    .sub-imgs {
      display: flex;
      flex-direction: column;
      gap: $gap-small;

      .sub-img-box {
        width: 12.7rem;
        height: 12.7rem;

        @include respond(laptop) {
          width: 8rem;
          height: 8rem;
        }
      }

      @include respond(tablet) {
        order: 0;
      }

      @include respond(phone) {
        display: flex;
        flex-direction: row;
        order: 3;
      }
    }

    .main-img-box {
      width: 60rem;
      height: 60rem;
      object-fit: cover;

      @include respond(tablet) {
        width: 28rem;
        height: 28rem;
      }

      @include respond(mobile) {
        width: 28rem;
        height: 28rem;
      }
    }

    .product-img {
      width: 100%;
      height: 100%;
    }
  }

  .product-detail-info {
    width: 38rem;
    height: 48rem;

    @include respond(laptop) {
      width: 30rem;
      height: 48rem;
    }

    @include respond(tablet) {
      width: 70rem;
      height: 48rem;
    }

    @include respond(phone) {
      width: 28rem;
      height: 40rem;
    }

    .product-title {
      text-transform: none;
      font-size: $font-size-upper-medium;
      font-weight: $font-weight-semi-bold;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .ratings-box {
      display: flex;

      .rating-icon {
        font-size: $font-size-medium;
        color: $color-amber;
        margin-bottom: $margin-x-small;
      }
    }

    .product-price {
      margin: 17px 0 24px;
    }

    .btn-quantity-and-add-to-cart-box {
      display: flex;

      .quantity {
        width: 10rem;
        height: 5rem;
        font-size: $font-size-medium;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid $color-black;
      }

      .btn-add-to-cart {
        width: 22.5rem;
        height: 5rem;
        color: $color-white;
        background-color: $color-black;
        line-height: 120%;
        font-size: $font-size-small;
        text-transform: uppercase;
        font-weight: $font-weight-semi-bold;
      }
    }

    .product-code-and-categories {
      color: $color-secondary;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: 150%;
      display: flex;
      flex-direction: column;
      margin: 40px 0;
    }

    .product-description-and-reviews-box {
      .description-box,
      .reviews-box {
        font-size: $font-size-small;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 1px;
      }
    }
  }
}

.related-products {
  background-color: rgba($color-tertiary, 0.2);
  padding: $margin-large 0;

  &-title {
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    line-height: $line-height-tiny;
    margin-bottom: $margin-medium;
  }

  &-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $margin-medium;

    @include respond(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: $margin-x-small;
      row-gap: $margin-x-small;
    }
  }

  .product-img-box {
    width: 28rem;
    height: 28rem;
    margin-bottom: $margin-x-small;

    @include respond(laptop) {
      width: 20rem;
      height: 20rem;
    }

    @include respond(tablet) {
      width: 30rem;
      height: 30rem;
    }

    @include respond(phone) {
      width: 12rem;
      height: 12rem;
    }
  }
}
